body {
  background: #f3e7e1;
}
h1 {
  color: #272637;
  font-family: "Xanh Mono", monospace;
  font-weight: 400px;
  font-size: 75px;
  margin: auto;
  width: 50%;
}
.dateTime {
  font-weight: 200px;
  font-size: 35px;
}
h2 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 200px;
  font-size: 35px;
  color: #474168;
  text-align: center;
}
#temp-now {
  font-family: "JetBrains Mono", monospace;
  font-weight: 200px;
  font-size: 50px;
  color: #474168;
  text-align: center;
}
.unit {
  position: relative;
  top: -20px;
  font-size: 20px;
}
.card {
  display: inline-block;
  padding: 0, auto;
  position: relative;
  text-align: center;
  left: 0px;
  border: none;
  background-color: #f3e7e1;
}
.list-group-item {
  background-color: #f3e7e1;
  border: none;
  font-weight: 200px;
  color: #474168;
}

.current {
  height: 100%;
  margin: 0, auto;
}
div.col-6,
div.col-6 {
  display: block;
  margin: 0px, auto;
  position: relative;
  text-align: center;
  right: 0px;
}
.day {
  padding: 50px;
}
.showers {
  color: darkblue;
}
.sunny {
  color: rgb(253, 216, 5);
}
.cloudy {
  color: rgb(102, 101, 101);
}
.partly-cloudy {
  color: rgb(212, 195, 38);
}
.search {
  display: inline-block;
  margin: 20px;
  text-align: center;
  border: 1px solid rgb(55, 55, 122);
}
#btn-search {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(55, 55, 122);
  border-radius: 10px;
  background: #626f92;
  color: whitesmoke;
}
#btn-search:hover {
  background: whitesmoke;
  color: rgb(55, 55, 122);
  border: 1px solid rgb(55, 55, 122);
  transition-duration: 0.2s;
  cursor: pointer;
}

#btn-current {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(55, 55, 122);
  border-radius: 10px;
  background: darkblue;
  color: whitesmoke;
}
#btn-current:hover {
  background: whitesmoke;
  color: rgb(55, 55, 122);
  border: 1px solid darkblue;
  transition-duration: 0.2s;
  cursor: pointer;
}
.footer {
  display: inline;
  margin: 0, auto;
  text-align: center;
}
